{% extends 'base.html'%}
{% load static%}

{%block title%}
    Garantía
{%endblock%}

{% block content%}
<img class="img-fluid" src="{% static 'img/garantia.png' %}" alt="">
<link rel="stylesheet" href="{% static 'css/garantia.css' %}">
<p>
    Nuestra política tiene una duración de hasta 6 meses para ejercer derecho a garantía sobre las compras realizadas en Ecopura SpA, por medios electrónicos, y en aquellos en que se aceptare una oferta realizada a través de catálogos, avisos, o cualquier otra forma de comunicación a distancia, no estarán sujetas al derecho de retracto. Esto en conformidad con el Artículo 3 º bis, letra b, de la Ley de Protección al Consumidor (Ley Nº 19496), y por lo tanto los clientes no podrán ejercer dicho derecho.
    <br>
    Es muy relevante que el cliente revise las dimensiones del producto y el lugar donde realizará la instalación. Las dimensiones estarán disponibles en todas las descripciones de nuestros productos. Su compra está sujeta a verificación, disponibilidad de stock y factibilidad de distribución a la dirección de despacho por usted indicada. Las fotos de los productos expuestos en sitio web son todas referenciales, lo valores no incluyen IVA 
    <br>
    En el caso, que el acuerdo entre Ecopura y el cliente sea cambio del producto, el o los artículos deben estar sin usar y en las mismas condiciones en que lo recibió el cliente. También debe estar en su embalaje original y contar con su boleta correspondiente.
    
    Productos no sujetos a garantía y/o a cambio o retornos serán:
    <br>
    * Tarjetas de regalo
    <br>
    * Productos entregados dado algún concurso realizado por la Empresa
    <br>
    * Algunos productos de salud y cuidado personal
    <br>
    Para solicitar garantía siempre requerimos un recibo o prueba de compra.
    <br>
    Por favor, no envíes tu compra de retorno a nuestra planta, se coordinará siempre con el cliente la forma en la que se procederá.
    <br>
    Hay algunas situaciones donde solo se pueden garantizar reembolsos parciales: (de ser aplicable)
    <br>
    * Cualquier ítem que no se encuentre en su condición original, que esté dañado o le falten partes por razones ajenas a nosotros.
    <br>
    * Cualquier ítem que sea haya sido aperturado o no cuente con sello de seguridad.
    <br>
     Reembolsos (donde aplique)
     <br>
    Una vez que tu devolución es recibida e inspeccionada, enviaremos un correo electrónico para notificarte que hemos recibido tu devolución. También te notificaremos la aprobación o rechazo de tu reembolso.
    <br>
    Si eres aprobado, entonces tu reembolso será procesado y un crédito será automáticamente aplicado a tu tarjeta de crédito o método original de pago, en una cierta cantidad de días. Los reembolsos serán aplicados de lunes a viernes entre 09.00 am y 14.00 pm.
    <br>
    Reembolsos tardíos o perdidos (donde aplique)
    <br>
    Si aún no has recibido tu reembolso, por favor chequea tu cuenta bancaria otra vez.
    <br>
    Luego contacta a tu compañía de tarjeta de crédito, puede tomar algún tiempo antes de que tu reembolso se postee oficialmente.
    <br>
    Próximo paso, contacta a tu banco.  A menudo pasa cierto tiempo antes de que tu reembolso se postee.
    <br>
    Si has seguido todos estos pasos y aún no haz recibido el reembolso, por favor contáctanos ventas@ecopurachile.cl
    <br>
    Intercambios o cambios de productos (donde aplique)
    <br>
    Solo reemplazamos artículos que estén defectuosos o dañados de fabrica.  Si necesitas cambiarlo por el mismo artículo, envíanos un correo electrónico a ventas@ecopurachile.cl
    <br>
    Se considerará que hay una falla o defecto:
    <br><br>
    a) Si los productos sujetos a normas de seguridad o calidad de cumplimiento obligatorio no cumplan las especificaciones correspondientes;
    <br>    b) Si los materiales, partes, piezas, elementos, sustancias o ingredientes que constituyan o integren los productos no correspondan a las especificaciones que ostenten o a las menciones del rotulado;
    <br>    c) Si cualquier producto, por deficiencias de fabricación, elaboración, materiales, partes, piezas, elementos, sustancias, ingredientes, estructura, calidad o condiciones sanitarias, en su caso, no sea enteramente apto para el uso o consumo al que está destinado o al que el proveedor hubiese señalado en su publicidad;
    <br>    d) Si el proveedor y consumidor hubieren convenido que los productos objeto del contrato deban reunir determinadas especificaciones y esto no ocurra;
    <br>    e) Si después de la primera vez de haberse hecho efectiva la garantía y prestado el servicio técnico correspondiente, subsistieren las deficiencias que hagan al bien inapto para el uso o consumo a que se refiere la letra c). Este derecho subsistirá para el evento de presentarse una deficiencia distinta a la que fue objeto del servicio técnico, o volviere a presentarse la misma, dentro de los plazos a que se refiere el artículo siguiente;
    <br>    f) Si la cosa objeto del contrato tenga defectos o vicios ocultos que imposibiliten el uso a que habitualmente se destine;
    <br>    g) Si la ley de los metales en los artículos de orfebrería, joyería y otros sea inferior a la que en ellos se indique. Para estos efectos se considerará que es un solo bien aquel que se ha vendido como un todo, aunque esté conformado por distintas unidades, partes, piezas o módulos, no obstante que éstas puedan o no prestar una utilidad en forma independiente unas de otras. Sin perjuicio de ello, tratándose de su reposición, ésta se podrá efectuar respecto de una unidad, parte, pieza o módulo, siempre que sea por otra igual a la que se restituye.
    <br><br>
    La Garantía o Cambio de los productos no será válida en los siguientes casos:
    <br><br>
    1. Por uso incorrecto o incumplimiento de las instrucciones contempladas en el Manual de Instrucciones de cada producto.
    <br>2. Cuando el producto haya sido utilizado en condiciones distintas a las normales y para lo que fue diseñado.
    <br>3. Desgaste normal de los accesorios, por efecto del uso o mal uso.
    <br>4. Desarme, reparación y/o alteración del producto por personas o talleres de servicios no autorizados por Sociedad Comercial Nailah Limitada.
    <br>5. Daños causados por agentes naturales, golpes, caídas, traslados, líquidos o polvos,etc.
    <br>6. No serán contemplados en la Garantía daños en los productos provocados por un golpe eléctrico de energía o por una instalación eléctrica deficiente o defectuosa en el hogar.
    <br><br>
     
    
    Envío
    <br>
    Para enviar el producto a servicio técnico, serás responsable por el pago de los costos de envío del artículo. Los costos de envío si los hubiere, no son reembolsables. Si recibes un reembolso, el costo del envío de la devolución será deducido de tu reembolso.
    <br>
    Dependiendo de dónde vivas, el tiempo que tome recibir el producto intercambiado, puede variar.
</p>
{%endblock%}