{%load static%}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/lista.css'%}">
<div id="lista" class="row py-5 mx-auto">
    {% for producto in object_list%}
        <div class="col-sm pt-3">
            <div class="card border-0 mx-auto" style="width: 18rem;">
                <img class="card-img-top" src={{producto.foto}} alt="Card image cap">
                <div class="card-body py-0">
                    <span><h5 class="card-title text-center">{{producto.nombre}}</h5></span>
                    <div class="row px-5 pt-0">
                        <a class="text-center" href="{% url 'ecopuraApp:detalle_url' producto.id %}">${{producto.precio | intcomma}}</a>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
  
    <div class="container-fluid">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> < </a></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>