{%load static%}
<link rel="stylesheet" href="{%static '/css/footer.css' %}">
<footer>
    <div class="row px-0 mx-0">
        <div class="col-md">
            <h3>
                Horarios de reparto
            </h3>
            <p>
                Lunes a Viernes desde las 9:00 a las 19:00 hrs.
                y Sábado desde las 9:00 a las 19:00 hrs
            </p>
            <h3>
                Medios de Pago
            </h3>
            <p>Transferencia electronica</p>
            <p>Efectivo</p>
            <img class="img-fluid" src="../static/img/wevbpay.png" alt="">
        </div>
        <div class="col-md">
            <h3>
                Encuentranos en:
            </h3>
            <p>
                vicuña mackenna 1545 local 3 Peñaflor
            </p>
            <p>
                numero
            </p>
            <p>
                numero2
            </p>
            <p>
                ventas@ecopurachile.cl
            </p>
            <div id="redes" class="row mx-0">
                <a href=""><img src="../static/img/instagram.png" alt=""></a>
                <a href=""><img src="../static/img/facebook.png" alt=""></a>
                <a href=""><img src="../static/img/linkedin.png" alt=""></a>
            </div>
        </div>
        <div class="col-md">
            <h3>
                <a href="">Politicas de despacho</a>
            </h3>
            <h3>
                <a href="">Garantìa</a>
            </h3>
            <h3>
                <a href="">Preguntas frecuentes</a>
            </h3>
        </div>
    </div>
</footer>