{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/contacto.css'%}">


<form method="POST">
    {%csrf_token%}
    <div class="row py-0">
        <div class="col-md-6">
            {{form.p_nombre | as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.p_apellido | as_crispy_field}}
        </div>
    </div>
    <div class="row py-0">
        <div class="col-md-6">
            {{form.empresa | as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.telefono | as_crispy_field}}
        </div>
    </div>
    <div class="row py-0">
        <div class="col-md-6">
            {{form.rut_empresa | as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.detalle_dispensador | as_crispy_field}}
        </div>
    </div>
    <div class="row py-0">
        <div class="col-md">
            {{form.correo | as_crispy_field}}
        </div>
    </div>
    <div class="row py-0 d-flex justify-content-center">
        <div class="col-md">
            {{form.detalle_texto | as_crispy_field}}
        </div>
    </div>
    <div class="row py-0 d-flex justify-content-center mt-3">  
        <input id="guardar_contacto"  type="submit" name="subrmit" value="Enviar">
    </div>
</form>