{% extends 'base.html'%}
{% load static%}

{% load humanize %}
{%block title%}
    Productos
{%endblock%}
{% block content%}
<div id="lista" class="row py-5 mx-auto">
    {{context}}
{% for producto in object_list%}
        <div class="col-sm b-0 pt-3">
            <div class="card border-0 mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/productos/producto-1.png'%}" alt="Card image cap">
                <div class="card-body">
                    <span><h5 class="card-title text-center">{{producto.nombre}}</h5></span>
                    <div class="row px-5">
                        <a href="#" class="btn btn-primary">${{producto.precio|intcomma}}</a>
                    </div>
                </div>
            </div>
        </div>

{%endfor%}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
        {% endif %}
    </ul>
  </nav>
</div>

{%endblock%}