{%load static%}
<link rel="stylesheet" href="{%static '/css/navbar.css' %}">
<div class="sticky-top bg-white" id="navbar">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid d-flex justify-content-center">
      <a href="{% url 'ecopuraApp:inicio_url' %}">
        <img class="img-fluid" id="logo" src="../static/img/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m2" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-around">
          <li class="nav-item dropdown py-2">
            <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu py-0" aria-labelledby="navbarDropdown">
              <li class="py-1"><a class="dropdown-item" href="{% url 'ecopuraApp:agua_url' %}">Agua</a></li>
              <li class="py-1"><a class="dropdown-item" href="{% url 'ecopuraApp:planes_url' %}">Planes</a></li>
              <li class="py-1"><a class="dropdown-item" href="{% url 'ecopuraApp:kitiniciales_url' %}">Kit Iniciales</a></li>
              <li class="py-1"><a class="dropdown-item" href="#">Dispensadores Y Accesorios</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown py-2">
            <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quienes Somos
            </a>
            <ul class="dropdown-menu py-0" aria-labelledby="navbarDropdown">
              <li class="py-1" ><a class="dropdown-item" href="#">Action</a></li>
              <li class="py-1" ><a class="dropdown-item" href="#">Another action</a></li>
              <li class="py-1" ><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item py-2">
          <a aria-current="page" href="#">Zona de Despacho</a>
          </li>
          <li class="nav-item py-2">
            <a aria-current="page" href="#">Tratamiento de aguas</a>
          </li>
          <li class="nav-item py-2">
            <a aria-current="page" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

