{% extends 'base.html'%}
{% load static%}

{%block title%}
    Políticas de despacho
{%endblock%}

{% block content%}
<img class="img-fluid" src="{% static 'img/politicas-despacho.png' %}" alt="">
<link rel="stylesheet" href="{% static 'css/politicas-despacho.css' %}">
<ol>
    <li>Es muy relevante que el cliente revise las dimensiones del producto y el lugar donde realizará la instalación. Las dimensiones estarán disponibles en todas las descripciones de nuestros productos.</li>
    <li>Su compra está sujeta a verificación, disponibilidad de stock y factibilidad de distribución a la dirección de despacho por usted indicada.Las fotos de los productos expuestos en sitio web son todas referenciales, lo valores no incluyen IVA.</li>
    <li>Ecopura SpA realiza el despacho de productos de lunes a viernes, entre la 09:00 y las 19:00, y sábados entre las 09:00 y 19:00 sólo en comunas de la Región Metropolitana.</li>
    <li>Nuestro compromiso de entrega dependerá del destino del despacho, el plazo de entrega podrá ser de hasta 2 días hábiles desde el día hábil siguiente de la compra. Este plazo de entrega aplica sólo en las comunas de la Región Metropolitana</li>
    <li>Cada despacho que usted pague permite hasta 2 intentos de entrega en la dirección indicada por usted. En caso de no poder concretarse el despacho en ninguno de los 2 intentos, nuestro personal de Servicio al Cliente se contactará con usted para asistirlo. Esta entrega está sujeta a cobro y su valor será de hasta el 30% del valor de su compra.</li>
    <li>Al momento de la recepción, debe revisar visualmente el estado general su compra. La firma del cliente en el dispositivo electrónico del despachador será nuestra verificación de la conformidad en la recepción. En caso de que el producto sea recibido por un tercero (familiares, asesora del hogar, conserjes, mayordomo, etc.) se le solicitará a este firme en el dispositivo electrónico, Ecopura SpA entiende que el producto fue recibido a plena conformidad.</li>
    <li>Jamás lo visitaremos o contactaremos para solicitar retiro de productos que le hayamos despachado. Frente a un caso excepcional en que usted nos solicite retiro de un producto entregado por nosotros, deberá existir un acuerdo formal entre usted y nuestro Servicio de Atención a Clientes como respaldo. En este documento además se indicará si esta gestión presenta un costo para usted.</li>
    <li>La boleta de compraventa será enviada en forma electrónicaa través de e-mail a la casilla de correo electrónico informada.</li>
</ol>
{%endblock%}