footer{
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    
    color: white;

}
p{
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: #204e9d;
}
.row{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
a:visited{
    text-decoration: none;
    color: #204e9d;
}
#links-footer a{
    color: white;
}

footer .col-md{
    text-align: center;
    max-width: 300px;
}

#redes a{
    width: 70px;
}

#redes img{
    max-width: 70px;
}
