@font-face {
    font-family: Gilroy-ExtraBold;
    src: url(../fonts/Gilroy-ExtraBold.otf);
    
}
@font-face {
    font-family: Rubik-Bold;
    src: url(../fonts/Rubik-Bold.ttf);
    
}
@font-face {
    font-family: Rubik-Medium;
    src: url(../fonts/Rubik-Medium.ttf);
    
}
@font-face {
    font-family: Gilroy-Light;
    src: url(../fonts/Gilroy-Light.otf);
    
}
h2{
    color: #FFFFFF;
    font-family:Gilroy-ExtraBold;
    
}
h3{
    font-family:Gilroy-ExtraBold;

}
p{
    font-family: Gilroy-Light;
}


.row{
    margin: 0;
}

#img-1{
    display: none;
}
#boton-productos{
    padding: 4px 25px;
    color: white;
    
    
}

#contenedor-promociones{
    background-color: rgb(50, 113, 181);
}
#img-2{
    background-image:url('../img/2.png');
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    color: white;
    text-align: right;
    padding-top: 20px;
    min-height: 200px;
    padding-bottom: 20px;
}
#img-2 .col{
    max-width: 240px;
    word-wrap: break-word;
    
}
#servicios img{
    max-width: 250px;
}
#servicios ul{
    list-style: none;
    padding: 0;
    
}
#servicios ul li{
    display: flex;
    justify-content: center;
}
#servicios a{

    padding: 6px 50px;
    margin: 20px 0px;
    color: white;
    font-size: 20px;
    background-color: #204e9d;
    transition: 0.3s;
    border: solid #204e9d;
    border-width: 1px;
}

#servicios a:hover{
    color: #204e9d;
    background-color: white;
}
#informacion ul{
    list-style: none;
    padding: 0;
}
#informacion ul li{
    display: flex;
    justify-content: center;
    margin: 0 50px;
    color: #204e9d;
    
}

#quienes{
    padding: 0;
    color: #204e9d;
    text-align: center;
}

#quienes a{
    padding: 6px 50px;
    margin: 20px 0px;
    color: white;
    font-size: 20px;
    background-color: #204e9d;
    transition: 0.3s;
    border: solid #204e9d;
    border-width: 1px;
    max-width: 200px;
    
}

@media (min-width: 576px) {
    #img-2 .col{
        max-width: 350px;
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #img-1-responsive{
        display: none;
    }
    #img-1{
        display: inline-block;
    }
    #boton-productos{
        padding-right: 30px;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #img-2{
        padding-top: 20px;
        padding-bottom: 20px;
       
    }
    #img-2 .col{
        max-width: 500px;
        margin-right: 90px;
        text-align: center;
        font-size: 50px;
    
        
    }

    #quienes h1{
        text-align: start;
        padding-left: 50px;
        font-weight:bolder
    }
    #quienes p{
        text-align: start;
        margin-bottom: 50px;
        padding-left: 50px;
        max-width: 400px;
        font-size: 25px;
    }
    #quienes a{
        display: flex;
        justify-content: start;
        margin-left: 50px;
    }
    
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #img-2 .col{
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }

 /****/
 @media (max-width: 768px) {
    #quienes-somos a{
        margin-left: auto;
        margin-right: auto;
    }
}

