@font-face{
    font-family: Poppins ;
    src: url(../fonts/Poppins-SemiBold.otf);
}

*{
    font-family: Poppins;

}

#logo{
    width: 2020px;
    max-width: 250px;
}

a{
    text-decoration: none;
    color: #204e9d;
}


#navbarSupportedContent ul li ul li a{
    color: #204e9d;
}
nav{
    box-shadow: 0px 10px 10px -10px gray;
    
}
.dropdown-item:hover {
    color: #204e9d;
    background-color: #e9ecef;
  }
ul{ 
    /*ESTO ME PERMITE JUSTIFICAR EL CONTENIDO EN EL UL*/
    flex-basis:100%;
}


ul .dropdown-menu{
    border-width: 0;
    border-left-width: 3px;
}


.dropdown-menu{
    min-width: 290px;
}

.dropdown-menu li{
    width: 290px;
    padding: 10px 15px;

    
}

.dropdown-menu li:hover{

    background-color: rgba(70, 39, 39, 0.096);
    
}

#navbarDropdown{
    color: #204e9d;
    padding-left: 0;
    padding-right: 0;
}

#navbarSupportedContent{
    max-width: 1000px;
}
@media (min-width: 576px) {

    


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #boton_precio{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 60px;
        border-radius: 60px;
        color: white;
        background: linear-gradient(#1774DB,#6BE0FF );
        border-style: none;
        width: 300px;
        height: 100px;
    
    }
    ul .dropdown-menu{
        border-width: 2px
    }
    

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }
