@font-face {
    font-family:Rubik-Light;
    src: url(../fonts/Rubik-Light.ttf);
}

#accordion{
    margin-top: 50px;
}
#accordion button{
    width: 100%;
}
h1{
    padding: 10px 20px;
}
.card-body{
    font-family: Rubik-Light;
}


#accordion .col-md-2{
    background-color: rgba(61, 155, 233, 0.1) !important;
    color: rgb(0, 69, 158);
    
}
#accordion .col-md-10{
    background-color: rgba(170, 211, 244, 0.1) !important;
    color: rgb(0, 69, 158);
}
#accordion .card{
    border: 0;
    padding: 0 45px;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #accordion .card{
        padding: 0 20%;
    }
 }


