@font-face {
    font-family: Rubik-Light;
    src: url(../fonts/Rubik-Light.ttf);
    
}
#accordion{
max-width: 900px;
margin: auto;
}
card{
    border: 0;
}
p{
    font-family: Rubik-Light;
}
h5{
    color: #094f9e;
}
hr{
    border: 1px solid #004195;
  }